---
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';
import Scene from "../../3D/Scene.jsx";

const allprojects = await getCollection("projects")

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alexander Kazakov</title>
	</head>
	<body>
		<div class="h-screen w-screen relative">
			<Scene client:only="react" />
			<div class="absolute top-[24rem] left-16">
				<div  class="bg-red-500">
					<ul class="animate flex flex-col gap-4">
						{
						  allprojects.map((project) => (
							<li>
								<p>{project.data.title}</p>
								<p>{project.data.projectdescription}</p>
								<p>{project.data.link}</p>
								<Image src={project.data.image_url} alt="project image" width={500} height={500} ></Image>
			
							</li>
						  ))
						}
					  </ul>
					</div>
			</div>
		</div>
	</body>
</html>
